main
  .menubtn.js-menubtn
    span
    span
    span
.modal.js-modal
  ul
    li: a(href="#") TOP
    Li: a(href="#") NEWS
    li: a(href="#") ABOUT
    li: a(href="#") WORKS
    Li: a(href="#") CONTACT